---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img style="width:100px;" src="{{ site.logo }}" class="zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size: 4.5em;font-weight:600; letter-spacing:-5px; margin:20px; color:#9533ea;">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1.5rem;font-weight:500">{{ site.bio }}</p>
			            </a>
                    </h3>}
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/posts">
                         Posts
                         </a>
                 </h3>
            </div>
        </div>
        <div class="wrapper">
            <div class="content">
                <div class="post-title">
                    <h1>Latest Posts</h1>
                    <hr>
                </div>
                <div class="post-list">
                    {% for post in site.posts %} 
                        {% if post.project == null %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="{{ site.url }}{{ post.url }}" style="font-size:40px; letter-spacing:-2.5px;">{{ post.title }}</a>
                            <p>{{ post.excerpt }}</p>
                            <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">Read More</a>
                        </li>
                    </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
